---
---

@import "style.css";

header ul {
  list-style: none;
  height: auto;
  padding: 0;
  background:transparent;
  border-radius: none;
  border: none;
  width: auto;
}


header li{
  float:none;
  width: auto;
}
